@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);




*{
    padding:0;
    margin: 0px;
    box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-se2222222222222222222222222222222222222222222222222rif;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:20px 20px 0px 20px;
}
.menu{
    display:flex;
    align-items: center;
    cursor: pointer;
}
.menu>h4{
    font-family: 'Great Vibes', handwriting;
    font-size: 30px;
    margin:0px 15px;
 
}
.menu>p{
    margin:0px 15px;
    font-size:14px;
    font-weight: 600;
    color: #6e6d7a;

}
.menu>p:hover{
    
   
    color:black;
    transition: all 500ms ease-in-out;
}
.login{
    display:flex;
    align-items: center;
    cursor: pointer;
}
.signin{
    color: #6e6d7a;
    font-size: 16px;
    margin:0px 15px;
}
.signup{
    border-radius: 10px;
   background-color: #ea4c89;
   border:none;
   padding:10px 16px;
   font-size: 14px;
   color:white;
   font-weight: 600;
   cursor: pointer;
    
}
.signup:hover{
    background-color: #ea4c89b6;
}



.main{
    text-align: center;
    background-image: url(https://images.pexels.com/photos/531879/pexels-photo-531879.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:20px;
    
    
}
.overlay{
    height:100% !important;
    background-color: rgba(0, 0, 0, 0.606);
    
}
.div1{
    padding: 40px 0px;
  
}
.active{
    background-color: white !important;
    color:black !important;
}
.div1>button{
    background-color: rgba(2, 2, 2, 0.458);
    color:white;
    border-radius:50px;
    border:none;
    padding: 16px 20px;
    margin-right:15px;
    font-weight: 500;
    font-size:16px;
}

.div1>button:hover{
    background-color:white;
    color:black;
    transition: all 500ms ease-in-out;
}

.div2{
    font-size: 30px;
    color:white;
    font-weight: 600;
    margin:20px 0px;
}

.div3{
    color:white;
    font-weight: 400;
    margin:20px 0px;

}


.div4>input{
    width:35%;
    border-radius: 50px;
   outline: none;
    padding:20px;
    margin:20px 0px;

    
}

.div5{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
   padding-bottom: 80px;
    
}
.small{
    
    color:white;
    margin-right:10px;
    font-size:12px;
}
.large >button{
    background-color: rgba(255, 255, 255, 0.045);
    color:white;
    
    border-radius:50px;
    border:1px solid white;
    padding: 10px 15px;
    margin-right:10px;
    font-weight: 500;
    font-size:15px;
}
.blogMain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin:70px;
    }
    
    
.innerdiv1{
    width:100%;
}
.innerdiv1>img{
    width:100%;
    border-radius: 10px;
}


.innerdiv2{
    width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.innerdiv2>.name>img{
    width:20px;
    border-radius: 50px;
    margin-right: 10px;
}
.name{
    display:flex;
    align-items: center;
    
}
.name>ion-icon{
    font-size: 25px;
}
.name>p{
    font-size: 14px;
    font-weight: 600;
}
.likes{
    display:flex;
    align-items: center;
}
.likes>ion-icon{
    margin-right: 5px;
}

.num{
    margin-right: 10px;
}

ion-icon{
    color:#9e9ea7;
}

.likes>ion-icon:hover{
    color:#ea4c89;

}