@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.main{
    background-color: rgb(229, 251, 246);
    
}

header{
    display:flex;
    justify-content: space-between;  
    align-items: center;
    padding:0px 50px;
    padding-top:25px;
}


.menu{
    display:flex;
    align-items: center;
}
.menu>p{
    margin:0px 20px;
    font-size:14px;
    font-weight: 600;
}
button{
    padding:10px;
    font-size:14px;
    font-weight: 600;
    border-radius: 5px;
    background-color:#32ff7e;
    border:none;
   cursor: pointer;
   color:black;
   font-family: sans-serif;
}


.heroarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px 0px;
}
.div1
{
    align-items: center;
    font-size: 35px;
    font-weight: 600;

}

.div2{
    font-size:14px;
    align-items: center;
    color: grey;
    margin-top:10px;
}
