@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
header{
    display:flex;
     justify-content: space-between; 
    align-items: center;
    background:white;
    color:rgb(65, 64, 64);
    
    padding: 20px;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
     rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 */}
.menu{
    display:flex;
    align-items: center;
    font-weight: 500;
}
.menu>p{
     margin:0px 20px; 
    font-size:15px;
    }
    button{
        /* padding:20px 40px;
        font-size:10px;
        font-weight: 600;
        border-radius: 20px;
        background: rgb(126,180,58);
        background: linear-gradient(90deg, rgba(126,180,58,1) 0%, rgba(29,253,126,1) 50%, rgba(69,252,179,1) 100%);
        border:none;
       cursor: pointer;
       color:white;
       font-family: sans-serif;
     */
    }